<h1 align="center"> Creating the Artificial Dataset </h1>

<h2> 1. Introduction </h2>

In this notebook you can find analytical information of my approach in creating the ArtificialDataset based on the instructions of the provided Metadata file.
My first step was to create the full Dataset, containing all the variables in the correct Data Type, and in the second step I created the missings values, by the given percentages.
I followed this approach in order to avoid the creation of multiple missing values, as some of the variables are connected to each other.

<h2> 2. Creating the Full Dataset </h2>

In [1]:
#Display the numbers without the scientific format
options(scipen = 999)

<h3> 2.1 CompanyID </h3>

Firstly I created the CompanyID variable and I used the common format which indicates the unique number of ID (from 10001 to 10100).

In [2]:
a <- seq(from = 10001, to = 10100, by = 1)  # Unique Company ID
b <- NULL
for (i in 1:100){
  b <- c(b, rep(a[i], 12))
}
CompanyID <- sort(b) # CopanyID Vector

In [35]:
#Inspecting the results
length(unique(CompanyID))

[1] 100

<h3> 2.2 Date and ArtificialDataset Template </h3>

In [4]:
Date <- NA

In [5]:
ArtificialDataset <- data.frame(Date, CompanyID)
ArtificialDataset$CompanyID <- as.factor(ArtificialDataset$CompanyID)

In [6]:
ArtificialDataset$Date <- seq(as.Date('2016/01/01'), as.Date('2016/12/01'), by = "month")

In [7]:
#Inspecting the ArtificialDataset
head(ArtificialDataset)
tail(ArtificialDataset)
str(ArtificialDataset)

  Date       CompanyID
1 2016-01-01 10001
2 2016-02-01 10001
3 2016-03-01 10001
4 2016-04-01 10001
5 2016-05-01 10001
6 2016-06-01 10001

     Date       CompanyID
1195 2016-07-01 10100
1196 2016-08-01 10100
1197 2016-09-01 10100
1198 2016-10-01 10100
1199 2016-11-01 10100
1200 2016-12-01 10100

'data.frame':	1200 obs. of  2 variables:
 $ Date     : Date, format: "2016-01-01" "2016-02-01" ...
 $ CompanyID: Factor w/ 100 levels "10001","10002",..: 1 1 1 1 1 1 1 1 1 1 ...

<h3> 2.3 Revenue </h3>

In [8]:
ArtificialDataset$Revenue <- sample(round(runif(1200*10, min = 0, max = 1)*10^6, digits = 2), 1200, replace = TRUE)

In [9]:
#Inspecting the ArtificialDataset
head(ArtificialDataset)

  Date       CompanyID Revenue
1 2016-01-01 10001     690710.54
2 2016-02-01 10001     218199.33
3 2016-03-01 10001     887134.93
4 2016-04-01 10001     505122.23
5 2016-05-01 10001     312168.56
6 2016-06-01 10001      43971.11

<h3> 2.4 Expenses </h3>

In [10]:
ArtificialDataset$Expenses <- sample(round(runif(1200*10, min = 0, max = 0.5)*10^6, digits = 2), 1200, replace = TRUE)

In [11]:
#Inspecting the ArtificialDataset
head(ArtificialDataset)

  Date       CompanyID Revenue   Expenses
1 2016-01-01 10001     690710.54 399434.3
2 2016-02-01 10001     218199.33 357003.3
3 2016-03-01 10001     887134.93 163712.5
4 2016-04-01 10001     505122.23 168801.5
5 2016-05-01 10001     312168.56 417686.1
6 2016-06-01 10001      43971.11 160718.6

<h3> 2.5 Profit </h3>

In [12]:
ArtificialDataset$Profit <- ArtificialDataset$Revenue - ArtificialDataset$Expenses

In [13]:
#Inspecting the ArtificialDataset
head(ArtificialDataset)

  Date       CompanyID Revenue   Expenses Profit
1 2016-01-01 10001     690710.54 399434.3  291276.2
2 2016-02-01 10001     218199.33 357003.3 -138804.0
3 2016-03-01 10001     887134.93 163712.5  723422.5
4 2016-04-01 10001     505122.23 168801.5  336320.7
5 2016-05-01 10001     312168.56 417686.1 -105517.6
6 2016-06-01 10001      43971.11 160718.6 -116747.5

<h3> 2.6 LossFlag </h3>

In [14]:
ArtificialDataset$LossFlag <- ifelse(ArtificialDataset$Profit < 0, 1, 0)

In [15]:
#Inspecting the ArtificialDataset
head(ArtificialDataset)

  Date       CompanyID Revenue   Expenses Profit    LossFlag
1 2016-01-01 10001     690710.54 399434.3  291276.2 0
2 2016-02-01 10001     218199.33 357003.3 -138804.0 1
3 2016-03-01 10001     887134.93 163712.5  723422.5 0
4 2016-04-01 10001     505122.23 168801.5  336320.7 0
5 2016-05-01 10001     312168.56 417686.1 -105517.6 1
6 2016-06-01 10001      43971.11 160718.6 -116747.5 1

<h3> 2.7 Employees </h3>

In [16]:
ArtificialDataset$Employees <- NA

for(i in 1:100){
  a <- ArtificialDataset[which(ArtificialDataset$CompanyID == 
                                 levels(ArtificialDataset$CompanyID)[i]),]
  
  a$Employees <- rep(sample(seq(from = 10, to = 100, by = 1), 1, replace = TRUE))
  
  ArtificialDataset[which(ArtificialDataset$CompanyID == 
                            levels(ArtificialDataset$CompanyID)[i]),]$Employees <-
    a$Employees
}

In [17]:
#Inspecting the ArtificialDataset
head(ArtificialDataset)

  Date       CompanyID Revenue   Expenses Profit    LossFlag Employees
1 2016-01-01 10001     690710.54 399434.3  291276.2 0        34
2 2016-02-01 10001     218199.33 357003.3 -138804.0 1        34
3 2016-03-01 10001     887134.93 163712.5  723422.5 0        34
4 2016-04-01 10001     505122.23 168801.5  336320.7 0        34
5 2016-05-01 10001     312168.56 417686.1 -105517.6 1        34
6 2016-06-01 10001      43971.11 160718.6 -116747.5 1        34

<h3> 2.8 Region </h3>

In [18]:
ArtificialDataset$Region <- NA    

for(i in 1:100){    
  a <- ArtificialDataset[which(ArtificialDataset$CompanyID == 
                                 levels(ArtificialDataset$CompanyID)[i]),]
  
  a$Region <- sample(c("A", "B", "C", "D", "E"),
                     1,
                     replace = TRUE,
                     prob = c(0.25, 0.20, 0.10, 0.05, 0.40))
  
  ArtificialDataset[which(ArtificialDataset$CompanyID == 
                            levels(ArtificialDataset$CompanyID)[i]),]$Region <-
    a$Region
}

In [19]:
#Inspecting the ArtificialDataset
head(ArtificialDataset)

  Date       CompanyID Revenue   Expenses Profit    LossFlag Employees Region
1 2016-01-01 10001     690710.54 399434.3  291276.2 0        34        B
2 2016-02-01 10001     218199.33 357003.3 -138804.0 1        34        B
3 2016-03-01 10001     887134.93 163712.5  723422.5 0        34        B
4 2016-04-01 10001     505122.23 168801.5  336320.7 0        34        B
5 2016-05-01 10001     312168.56 417686.1 -105517.6 1        34        B
6 2016-06-01 10001      43971.11 160718.6 -116747.5 1        34        B

<h3> 2.9 BusinessValuation </h3>

In [20]:
ArtificialDataset$BusinessValuation <- NA

for(i in 1:100){    
  a <- ArtificialDataset[which(ArtificialDataset$CompanyID == 
                                 levels(ArtificialDataset$CompanyID)[i]),]
  
  for(j in 1:12){      
    a$BusinessValuation[j] <- round(sample(seq(from = 0.03*a$Profit[j], to = 0.10*a$Profit[j]), 1, replace = TRUE),
                                    digits = 2)
  }
 
  ArtificialDataset[which(ArtificialDataset$CompanyID == 
                            levels(ArtificialDataset$CompanyID)[i]),]$BusinessValuation <-
    a$BusinessValuation
}

In [21]:
#Inspecting the ArtificialDataset
head(ArtificialDataset)

  Date       CompanyID Revenue   Expenses Profit    LossFlag Employees Region
1 2016-01-01 10001     690710.54 399434.3  291276.2 0        34        B
2 2016-02-01 10001     218199.33 357003.3 -138804.0 1        34        B
3 2016-03-01 10001     887134.93 163712.5  723422.5 0        34        B
4 2016-04-01 10001     505122.23 168801.5  336320.7 0        34        B
5 2016-05-01 10001     312168.56 417686.1 -105517.6 1        34        B
6 2016-06-01 10001      43971.11 160718.6 -116747.5 1        34        B
  BusinessValuation
1 29038.29
2 -5387.12
3 44855.67
4 28444.62
5 -7074.53
6 -8930.43

<h3> 2.10 ClosedFlag </h3>

In [22]:
ArtificialDataset$ClosedFlag <- NA

for(i in 1:100){    
  a <- ArtificialDataset[which(ArtificialDataset$CompanyID == 
                                 levels(ArtificialDataset$CompanyID)[i]),]
  
  a$ClosedFlag <- ifelse(sum(a$Profit < 0) > 3, 
                         sample(c(0, 1), 1, replace = TRUE, prob = c(0.9, 0.1)),
                         sample(c(0, 1), 1, replace = TRUE, prob = c(0.995, 0.005)))
  
  ArtificialDataset[which(ArtificialDataset$CompanyID == 
                            levels(ArtificialDataset$CompanyID)[i]),]$ClosedFlag <-
    a$ClosedFlag
}

In [23]:
#Inspecting the ArtificialDataset
head(ArtificialDataset)

  Date       CompanyID Revenue   Expenses Profit    LossFlag Employees Region
1 2016-01-01 10001     690710.54 399434.3  291276.2 0        34        B
2 2016-02-01 10001     218199.33 357003.3 -138804.0 1        34        B
3 2016-03-01 10001     887134.93 163712.5  723422.5 0        34        B
4 2016-04-01 10001     505122.23 168801.5  336320.7 0        34        B
5 2016-05-01 10001     312168.56 417686.1 -105517.6 1        34        B
6 2016-06-01 10001      43971.11 160718.6 -116747.5 1        34        B
  BusinessValuation ClosedFlag
1 29038.29          0
2 -5387.12          0
3 44855.67          0
4 28444.62          0
5 -7074.53          0
6 -8930.43          0

<h2> 3. Inspecting the Full ArtificialDataset </h2>

In [24]:
  ArtificialDataset

     Date       CompanyID Revenue   Expenses  Profit     LossFlag Employees
1    2016-01-01 10001     690710.54 399434.31  291276.23 0        34
2    2016-02-01 10001     218199.33 357003.28 -138803.95 1        34
3    2016-03-01 10001     887134.93 163712.47  723422.46 0        34
4    2016-04-01 10001     505122.23 168801.52  336320.71 0        34
5    2016-05-01 10001     312168.56 417686.14 -105517.58 1        34
6    2016-06-01 10001      43971.11 160718.63 -116747.52 1        34
7    2016-07-01 10001     972983.26 149589.18  823394.08 0        34
8    2016-08-01 10001     107875.96    863.45  107012.51 0        34
9    2016-09-01 10001     292321.96 179847.88  112474.08 0        34
10   2016-10-01 10001     733022.87 382622.34  350400.53 0        34
11   2016-11-01 10001       1858.79 130670.42 -128811.63 1        34
12   2016-12-01 10001     742680.68  22836.84  719843.84 0        34
13   2016-01-01 10002     736417.27 479408.85  257008.42 0        96
14   2016-02-01 10002     477039.85 172391.64  304648.21 0        96
15   2016-03-01 10002     618509.39  64529.19  553980.20 0        96
16   2016-04-01 10002     478659.86 289660.71  188999.15 0        96
17   2016-05-01 10002     497948.59  57241.11  440707.48 0        96
18   2016-06-01 10002     913915.06 368414.44  545500.62 0        96
19   2016-07-01 10002     193809.04 288166.72  -94357.68 1        96
20   2016-08-01 10002     521883.74  72781.32  449102.42 0        96
21   2016-09-01 10002      78631.27 349126.44 -270495.17 1        96
22   2016-10-01 10002     265480.14 300750.39  -35270.25 1        96
23   2016-11-01 10002     647594.40 248568.26  399026.14 0        96
24   2016-12-01 10002     469845.40 350656.37  119189.03 0        96
25   2016-01-01 10003     921729.69 327986.99  593742.70 0        30
26   2016-02-01 10003     191115.44 359192.77 -168077.33 1        30
27   2016-03-01 10003     630893.35 148237.84  482655.51 0        30
28   2016-04-01 10003     213723.49 464595.23 -250871.74 1        30
29   2016-05-01 10003     480110.56  95787.27  384323.29 0        30
30   2016-06-01 10003     153774.76 490957.24 -337182.48 1        30
...  ...        ...       ...       ...       ...        ...      ...
1171 2016-07-01 10098     600680.47 169650.21  431030.26 0        91
1172 2016-08-01 10098     411399.65 260454.99  150944.66 0        91
1173 2016-09-01 10098     122490.08 347915.94 -225425.86 1        91
1174 2016-10-01 10098     784594.35 472160.51  312433.84 0        91
1175 2016-11-01 10098     848360.21 211058.36  637301.85 0        91
1176 2016-12-01 10098     661380.94 423121.19  238259.75 0        91
1177 2016-01-01 10099     955353.22  87391.21  867962.01 0        96
1178 2016-02-01 10099     156940.38  22113.70  134826.68 0        96
1179 2016-03-01 10099     340248.38 204429.79  135818.59 0        96
1180 2016-04-01 10099     346051.63  27835.58  318216.05 0        96
1181 2016-05-01 10099     809417.23 415076.25  394340.98 0        96
1182 2016-06-01 10099     730618.63 439890.36  290728.27 0        96
1183 2016-07-01 10099       3623.25 343599.27 -339976.02 1        96
1184 2016-08-01 10099     998392.78 124303.36  874089.42 0        96
1185 2016-09-01 10099     723511.19 368121.65  355389.54 0        96
1186 2016-10-01 10099     674355.85 226163.58  448192.27 0        96
1187 2016-11-01 10099     320521.39 277415.80   43105.59 0        96
1188 2016-12-01 10099     441443.72 224379.63  217064.09 0        96
1189 2016-01-01 10100     217597.81 290728.59  -73130.78 1        76
1190 2016-02-01 10100     458927.41 368942.86   89984.55 0        76
1191 2016-03-01 10100     968099.12   7011.50  961087.62 0        76
1192 2016-04-01 10100     615242.98  19377.88  595865.10 0        76
1193 2016-05-01 10100     672445.53  20918.11  651527.42 0        76
1194 2016-06-01 10100     722783.79 382939.95  339843.84 0        76
1195 2016-07-01 10100     753580.03 385906.99  367673.04 0        76
1196 2016-08-01 10100     426641.38  95473.72  331167.66 0        76
1197 2016-09-01 10100     777713.74 431493.62  346220.12 0        76
1198 2016-10-01 10100     354173.78 142857.63  211316.15 0        76
1199 2016-11-01 10100     205451.94 394571.60 -189119.66 1        76
1200 2016-12-01 10100      49645.70 464544.08 -414898.38 1        76
     Region BusinessValuation ClosedFlag
1    B       29038.29         0
2    B       -5387.12         0
3    B       44855.67         0
4    B       28444.62         0
5    B       -7074.53         0
6    B       -8930.43         0
7    B       56004.82         0
8    B        9702.38         0
9    B        8319.22         0
10   B       17880.02         0
11   B      -10922.35         0
12   B       59778.32         0
13   E       19351.25         0
14   E       25219.45         0
15   E       34349.41         0
16   E       15080.97         0
17   E       25535.22         0
18   E       30445.02         0
19   E       -4883.73         0
20   E       14270.07         0
21   E       -9177.86         0
22   E       -3309.11         0
23   E       28791.78         0
24   E        5417.67         0
25   A       56136.28         0
26   A       -8534.32         0
27   A       46943.67         0
28   A      -11606.15         0
29   A       14124.70         0
30   A      -16510.47         0
...  ...    ...               ...
1171 E       20983.91         0
1172 E       10547.34         0
1173 E      -13151.78         0
1174 E       18432.02         0
1175 E       63102.06         0
1176 E        8523.79         0
1177 E       56325.86         0
1178 E        8219.80         0
1179 E        9947.56         0
1180 E       19150.48         0
1181 E       13491.23         0
1182 E       10343.85         0
1183 E      -16288.28         0
1184 E       55306.68         0
1185 E       13649.69         0
1186 E       42287.77         0
1187 E        1648.17         0
1188 E       17929.92         0
1189 E       -4692.92         0
1190 E        8405.54         0
1191 E       94774.63         0
1192 E       21928.95         0
1193 E       54535.82         0
1194 E       18095.32         0
1195 E       23267.19         0
1196 E       19636.03         0
1197 E       29675.60         0
1198 E       11750.48         0
1199 E      -15348.59         0
1200 E      -33960.95         0

In [25]:
dim(ArtificialDataset)
str(ArtificialDataset)

[1] 1200   10

'data.frame':	1200 obs. of  10 variables:
 $ Date             : Date, format: "2016-01-01" "2016-02-01" ...
 $ CompanyID        : Factor w/ 100 levels "10001","10002",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Revenue          : num  690711 218199 887135 505122 312169 ...
 $ Expenses         : num  399434 357003 163712 168802 417686 ...
 $ Profit           : num  291276 -138804 723422 336321 -105518 ...
 $ LossFlag         : num  0 1 0 0 1 1 0 0 0 0 ...
 $ Employees        : num  34 34 34 34 34 34 34 34 34 34 ...
 $ Region           : chr  "B" "B" "B" "B" ...
 $ BusinessValuation: num  29038 -5387 44856 28445 -7075 ...
 $ ClosedFlag       : num  0 0 0 0 0 0 0 0 0 0 ...

From the structure of the Dataset is clear that some variables' formats needed to be changed.

In [26]:
ArtificialDataset$LossFlag <- as.factor(ArtificialDataset$LossFlag)
ArtificialDataset$Region <- as.factor(ArtificialDataset$Region)
ArtificialDataset$ClosedFlag <- as.factor(ArtificialDataset$ClosedFlag)

In [27]:
#New inspection of the ArtificialDataset
str(ArtificialDataset)
summary(ArtificialDataset)

'data.frame':	1200 obs. of  10 variables:
 $ Date             : Date, format: "2016-01-01" "2016-02-01" ...
 $ CompanyID        : Factor w/ 100 levels "10001","10002",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Revenue          : num  690711 218199 887135 505122 312169 ...
 $ Expenses         : num  399434 357003 163712 168802 417686 ...
 $ Profit           : num  291276 -138804 723422 336321 -105518 ...
 $ LossFlag         : Factor w/ 2 levels "0","1": 1 2 1 1 2 2 1 1 1 1 ...
 $ Employees        : num  34 34 34 34 34 34 34 34 34 34 ...
 $ Region           : Factor w/ 5 levels "A","B","C","D",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ BusinessValuation: num  29038 -5387 44856 28445 -7075 ...
 $ ClosedFlag       : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...

      Date              CompanyID       Revenue            Expenses
 Min.   :2016-01-01   10001  :  12   Min.   :   525.1   Min.   :   863.5
 1st Qu.:2016-03-24   10002  :  12   1st Qu.:259395.6   1st Qu.:130226.8
 Median :2016-06-16   10003  :  12   Median :510784.8   Median :259458.4
 Mean   :2016-06-16   10004  :  12   Mean   :508448.2   Mean   :254895.0
 3rd Qu.:2016-09-08   10005  :  12   3rd Qu.:759357.1   3rd Qu.:381613.0
 Max.   :2016-12-01   10006  :  12   Max.   :999428.7   Max.   :499749.5
                      (Other):1128
     Profit        LossFlag   Employees      Region  BusinessValuation
 Min.   :-452175   0:900    Min.   : 11.00   A:300   Min.   :-40385.25
 1st Qu.:   1071   1:300    1st Qu.: 25.50   B:240   1st Qu.:    98.57
 Median : 255008            Median : 55.00   C:156   Median : 14738.09
 Mean   : 253553            Mean   : 53.45   D: 60   Mean   : 16238.44
 3rd Qu.: 498591            3rd Qu.: 78.00   E:444   3rd Qu.: 29780.44
 Max.   : 986410            Max.   :100.00           Max.   : 94774.63

 ClosedFlag
 0:1152
 1:  48

Every variable is in the correct type and range.

<h2> 4. Creating the missing values of the ArtificialDataset </h2>

<h3> 4.1 Revenue </h3>

In [28]:
for(i in sample(1:1200, 0.01*nrow(ArtificialDataset), replace = TRUE)){
  ArtificialDataset$Revenue[i] <- NA
}

<h3> 4.2 Expenses </h3>

In [29]:
for(i in sample(1:1200, 0.01*nrow(ArtificialDataset), replace = TRUE)){
  ArtificialDataset$Expenses[i] <- NA
}

<h3> 4.3 Profit </h3>

In [30]:
for(i in sample(1:1200, 0.01*nrow(ArtificialDataset), replace = TRUE)){
  ArtificialDataset$Profit[i] <- NA
}

<h3> 4.4 LossFlag </h3>

In [31]:
for(i in sample(1:1200, 0.01*nrow(ArtificialDataset), replace = TRUE)){
  ArtificialDataset$LossFlag[i] <- NA
}

<h2> 5. Inspecting the Final ArtificialDataset </h2>

In [32]:
ArtificialDataset

     Date       CompanyID Revenue   Expenses  Profit     LossFlag Employees
1    2016-01-01 10001     690710.54 399434.31  291276.23 0        34
2    2016-02-01 10001     218199.33 357003.28 -138803.95 1        34
3    2016-03-01 10001     887134.93        NA  723422.46 0        34
4    2016-04-01 10001     505122.23 168801.52  336320.71 0        34
5    2016-05-01 10001     312168.56 417686.14 -105517.58 1        34
6    2016-06-01 10001      43971.11 160718.63 -116747.52 1        34
7    2016-07-01 10001     972983.26 149589.18  823394.08 0        34
8    2016-08-01 10001     107875.96    863.45  107012.51 0        34
9    2016-09-01 10001     292321.96 179847.88  112474.08 0        34
10   2016-10-01 10001     733022.87 382622.34  350400.53 0        34
11   2016-11-01 10001       1858.79 130670.42 -128811.63 1        34
12   2016-12-01 10001     742680.68  22836.84  719843.84 0        34
13   2016-01-01 10002     736417.27        NA  257008.42 0        96
14   2016-02-01 10002     477039.85 172391.64  304648.21 0        96
15   2016-03-01 10002     618509.39  64529.19  553980.20 0        96
16   2016-04-01 10002     478659.86 289660.71  188999.15 0        96
17   2016-05-01 10002     497948.59  57241.11  440707.48 0        96
18   2016-06-01 10002     913915.06 368414.44  545500.62 0        96
19   2016-07-01 10002     193809.04 288166.72  -94357.68 1        96
20   2016-08-01 10002     521883.74  72781.32  449102.42 NA       96
21   2016-09-01 10002      78631.27 349126.44 -270495.17 1        96
22   2016-10-01 10002     265480.14 300750.39  -35270.25 1        96
23   2016-11-01 10002     647594.40 248568.26  399026.14 0        96
24   2016-12-01 10002     469845.40 350656.37  119189.03 0        96
25   2016-01-01 10003     921729.69 327986.99  593742.70 0        30
26   2016-02-01 10003     191115.44 359192.77 -168077.33 1        30
27   2016-03-01 10003     630893.35 148237.84  482655.51 0        30
28   2016-04-01 10003     213723.49 464595.23 -250871.74 1        30
29   2016-05-01 10003     480110.56  95787.27  384323.29 0        30
30   2016-06-01 10003     153774.76 490957.24 -337182.48 1        30
...  ...        ...       ...       ...       ...        ...      ...
1171 2016-07-01 10098     600680.47 169650.21  431030.26 0        91
1172 2016-08-01 10098     411399.65 260454.99  150944.66 0        91
1173 2016-09-01 10098     122490.08 347915.94 -225425.86 1        91
1174 2016-10-01 10098     784594.35 472160.51  312433.84 0        91
1175 2016-11-01 10098     848360.21 211058.36  637301.85 0        91
1176 2016-12-01 10098     661380.94 423121.19  238259.75 0        91
1177 2016-01-01 10099     955353.22  87391.21  867962.01 0        96
1178 2016-02-01 10099     156940.38  22113.70  134826.68 0        96
1179 2016-03-01 10099     340248.38 204429.79  135818.59 0        96
1180 2016-04-01 10099     346051.63  27835.58  318216.05 0        96
1181 2016-05-01 10099     809417.23 415076.25  394340.98 0        96
1182 2016-06-01 10099     730618.63 439890.36  290728.27 0        96
1183 2016-07-01 10099       3623.25 343599.27 -339976.02 1        96
1184 2016-08-01 10099     998392.78 124303.36  874089.42 0        96
1185 2016-09-01 10099     723511.19 368121.65  355389.54 0        96
1186 2016-10-01 10099     674355.85 226163.58  448192.27 0        96
1187 2016-11-01 10099     320521.39 277415.80   43105.59 0        96
1188 2016-12-01 10099     441443.72 224379.63  217064.09 0        96
1189 2016-01-01 10100     217597.81 290728.59  -73130.78 1        76
1190 2016-02-01 10100     458927.41 368942.86   89984.55 0        76
1191 2016-03-01 10100     968099.12   7011.50  961087.62 0        76
1192 2016-04-01 10100     615242.98  19377.88  595865.10 0        76
1193 2016-05-01 10100     672445.53  20918.11  651527.42 0        76
1194 2016-06-01 10100     722783.79 382939.95  339843.84 0        76
1195 2016-07-01 10100     753580.03 385906.99  367673.04 0        76
1196 2016-08-01 10100     426641.38  95473.72  331167.66 0        76
1197 2016-09-01 10100     777713.74 431493.62  346220.12 0        76
1198 2016-10-01 10100     354173.78 142857.63  211316.15 0        76
1199 2016-11-01 10100     205451.94 394571.60 -189119.66 1        76
1200 2016-12-01 10100      49645.70 464544.08 -414898.38 1        76
     Region BusinessValuation ClosedFlag
1    B       29038.29         0
2    B       -5387.12         0
3    B       44855.67         0
4    B       28444.62         0
5    B       -7074.53         0
6    B       -8930.43         0
7    B       56004.82         0
8    B        9702.38         0
9    B        8319.22         0
10   B       17880.02         0
11   B      -10922.35         0
12   B       59778.32         0
13   E       19351.25         0
14   E       25219.45         0
15   E       34349.41         0
16   E       15080.97         0
17   E       25535.22         0
18   E       30445.02         0
19   E       -4883.73         0
20   E       14270.07         0
21   E       -9177.86         0
22   E       -3309.11         0
23   E       28791.78         0
24   E        5417.67         0
25   A       56136.28         0
26   A       -8534.32         0
27   A       46943.67         0
28   A      -11606.15         0
29   A       14124.70         0
30   A      -16510.47         0
...  ...    ...               ...
1171 E       20983.91         0
1172 E       10547.34         0
1173 E      -13151.78         0
1174 E       18432.02         0
1175 E       63102.06         0
1176 E        8523.79         0
1177 E       56325.86         0
1178 E        8219.80         0
1179 E        9947.56         0
1180 E       19150.48         0
1181 E       13491.23         0
1182 E       10343.85         0
1183 E      -16288.28         0
1184 E       55306.68         0
1185 E       13649.69         0
1186 E       42287.77         0
1187 E        1648.17         0
1188 E       17929.92         0
1189 E       -4692.92         0
1190 E        8405.54         0
1191 E       94774.63         0
1192 E       21928.95         0
1193 E       54535.82         0
1194 E       18095.32         0
1195 E       23267.19         0
1196 E       19636.03         0
1197 E       29675.60         0
1198 E       11750.48         0
1199 E      -15348.59         0
1200 E      -33960.95         0

In [33]:
str(ArtificialDataset)
summary(ArtificialDataset)

'data.frame':	1200 obs. of  10 variables:
 $ Date             : Date, format: "2016-01-01" "2016-02-01" ...
 $ CompanyID        : Factor w/ 100 levels "10001","10002",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Revenue          : num  690711 218199 887135 505122 312169 ...
 $ Expenses         : num  399434 357003 NA 168802 417686 ...
 $ Profit           : num  291276 -138804 723422 336321 -105518 ...
 $ LossFlag         : Factor w/ 2 levels "0","1": 1 2 1 1 2 2 1 1 1 1 ...
 $ Employees        : num  34 34 34 34 34 34 34 34 34 34 ...
 $ Region           : Factor w/ 5 levels "A","B","C","D",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ BusinessValuation: num  29038 -5387 44856 28445 -7075 ...
 $ ClosedFlag       : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...

      Date              CompanyID       Revenue            Expenses
 Min.   :2016-01-01   10001  :  12   Min.   :   525.1   Min.   :   863.5
 1st Qu.:2016-03-24   10002  :  12   1st Qu.:259395.6   1st Qu.:130226.8
 Median :2016-06-16   10003  :  12   Median :507714.4   Median :259458.4
 Mean   :2016-06-16   10004  :  12   Mean   :508061.0   Mean   :254673.2
 3rd Qu.:2016-09-08   10005  :  12   3rd Qu.:759357.1   3rd Qu.:381613.0
 Max.   :2016-12-01   10006  :  12   Max.   :999428.7   Max.   :499749.5
                      (Other):1128   NA's   :12         NA's   :12
     Profit        LossFlag     Employees      Region  BusinessValuation
 Min.   :-452175   0   :890   Min.   : 11.00   A:300   Min.   :-40385.25
 1st Qu.:   4218   1   :298   1st Qu.: 25.50   B:240   1st Qu.:    98.57
 Median : 255008   NA's: 12   Median : 55.00   C:156   Median : 14738.09
 Mean   : 253440              Mean   : 53.45   D: 60   Mean   : 16238.44
 3rd Qu.: 498591              3rd Qu.: 78.00   E:444   3rd Qu.: 29780.44
 Max.   : 986410              Max.   :100.00           Max.   : 94774.63
 NA's   :12
 ClosedFlag
 0:1152
 1:  48

<h2> 6. Exporting the ArtificialDataset </h2>

In [34]:
write.csv(ArtificialDataset, file = "ArtificialDataset.csv", row.names = FALSE)